/* Document
   ========================================================================== */
   :root {
    --background-color: rgb(245, 245, 245);
    --font-family: 'Open Sans', sans-serif;
    --font-weight: 400;
    --font-size: 1rem;
    --title-font-family: 'Quicksand', sans-serif;
    --title-font-size: 1.2rem;
    --title-font-weight: 400;
	--text-color: #000;
	--link-color: #000;
	--main-color: rgb(230, 45, 45);
}
html {
    line-height: 1.15;
	-webkit-text-size-adjust: 100%;
    box-sizing: border-box;
}
body {
    background-color: var(--background-color);
    font-family: var(--font-family);
    font-weight: var(--font-weight);
	font-size: var(--font-size);
    color: var(--text-color);
    margin: 0;
	padding: 6em 0 0 0;
    box-sizing: border-box;
}
/* Sections
    ========================================================================== */
main,
header,
section,
article,
aside,
div,
footer {
    display: block;
    box-sizing: border-box;
}
h1 {
    font-family: var(--title-font-family);
    font-weight: var(--title-font-weight);
    font-size: 2em;
	margin: 0;
}
h2,
h3 {
    font-weight: var(--font-weight);
    margin: 0;
}
p {
    font-size: .9em;
}
/* Grouping content
	========================================================================== */
hr {
    box-sizing: content-box;
	height: 0;
	overflow: visible;
}
pre {
    font-family: monospace, monospace;
	font-size: 1em;
}
/* Text-level semantics
    ========================================================================== */
a {
    
    background-color: transparent;
    color: var(--link-color);
    text-decoration: none;
}
.link {
    color: var(--main-color);
    text-decoration: underline;
}
abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}
b,
strong {
	font-weight: bolder;
}
code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}
small {
	font-size: 80%;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub {
	bottom: -0.25em;
}
sup {
	top: -0.5em;
}
li {
	list-style-type: none;
}
/* Embedded content
    ========================================================================== */
img {
    border-style: none;
}
button,
input,
optgroup,
select,
textarea {
	background-color: rgb(255, 255, 255);
	border: 1px solid rgba(194,194,194,.5);
	border-radius: 3px;
	outline: none;
	padding: .5em .25em;
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}
[type="text"]:focus,
[type="password"]:focus,
textarea:focus,
select:focus {
	border: 1px solid var(--main-color);
    transition: all .2s linear;
}
button,
input {
	overflow: visible;
}
button,
select {
	text-transform: none;
}
[type="text"],
textarea {
    width: 18em;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
	padding: .5em 1em;
	box-sizing: border-box;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}
fieldset {
	padding: 0.35em 0.75em 0.625em;
}
legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0; 
	white-space: normal;
}
progress {
	vertical-align: baseline;
}
textarea {
	overflow: auto;
}
[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}
[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}
/* Interactive
    ========================================================================== */
details {
    display: block;
}
summary {
	display: list-item;
}
/* Misc
    ========================================================================== */
template {
    display: none;
}
[hidden] {
	display: none;
}
/* Header
	========================================================================== */
header {
    background-color: var(--background-color);
    border-bottom: 1px solid rgba(194,194,194,.19);
    position: fixed;
	top: 0;
	width: 100%;
    height: 4em;
    display: flex;
	align-items: center;
}
nav {
    width: 100%;
    padding: .5em 4em;
    display: flex;
	justify-content: space-between;
	align-items: center;
}
.btn {
    margin: 2em 1em;
    cursor: pointer;
}
.btn:hover {
    color: var(--main-color);
    transition: all .2s linear;
}
@media (max-width: 900px) {
    nav {
        padding: .5em 2em;
    }
}
@media (max-width: 700px) {
    body {
        padding: 8em 0 0 0;
    }
    header {
        height: 6em;
    }
    nav {
        width: 100%;
        padding: .5em 2em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    h1 {
        margin-bottom: .5em;
    }
}
/* List
    ========================================================================== */
.list-container {
    width: 67.4rem;
    margin: 0 auto 2em auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5em;
}
article {
    height: fit-content;
    border: 1px solid rgba(194,194,194,.3);
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
article:hover {
    border: 1px solid rgba(190,190,190,.8);
}
.video-info {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.video-info div,
.video-info span {
    cursor: pointer;
}
article > div:nth-child(2) {
    width: 100%!important;
    height: 17.4rem!important;
}
@media (max-width: 1150px) {
    .list-container {
        width: 50.4rem;
    }
    article > div:nth-child(2) {
        height: 12.55rem!important;
    }
}
@media (max-width: 900px) {
    .list-container {
        width: 33rem;
        display: grid;
        grid-template-columns: 1fr;
    }
    article > div:nth-child(2) {
        height: 17.4rem!important;
    }
}
@media (max-width: 600px) {
    .list-container {
        width: 24.5rem;
    }
    article > div:nth-child(2) {
        height: 12.55rem!important;
    }
}
/* Form
    ========================================================================== */
.form-container {
    width: 80%;
    margin: 5rem auto;
}
.form-container h2 {
    margin-bottom: 1em;
}
form {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
form > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
input,
textarea {
    margin-bottom: .75em;
}
.create-btn {
    background-color: var(--main-color);
    color: #fff;
    width: 9em;
    border: none;
    padding: .75em 1em;
    cursor: pointer;
}
.update-btn {
    background-color: rgb(149, 151, 160);
    color: #fff;
    width: 9em;
    border: none;
    padding: .75em 1em;
    cursor: pointer;
}
.create-btn:hover {
    background-color: rgb(177, 19, 19);
}
.update-btn:hover {
    background-color:  rgb(95, 99, 119)
}
/* Footer
    ========================================================================== */
.msg {
    width: 100%;
    padding: .75em .25em;
    text-align: center;
    background-color: var(--background-color);
    transition: all .2s linear;
}
.success .msg {
    width: 100%;
    padding: .75em .25em;
    text-align: center;
    background-color: rgb(218, 218, 218);
    transition: all .1s linear;
}
.repeated .msg {
    width: 100%;
    padding: .75em .25em;
    text-align: center;
    background-color: rgb(245, 255, 159);
    transition: all .1s linear;
}
.error .msg {
    width: 100%;
    padding: .75em .25em;
    text-align: center;
    background-color: rgb(240, 138, 138);
    transition: all .1s linear;
}